html,
body,
#root {
  overflow: hidden;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", Avenir, "Helvetica Neue", "Lato", "Segoe UI",
    Helvetica, Arial, sans-serif;
  color: #cecece;
  background: #121315;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
    
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}