@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
html,
body,
#root {
  overflow: hidden;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", Avenir, "Helvetica Neue", "Lato", "Segoe UI",
    Helvetica, Arial, sans-serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Cormorant Garamond', serif;

  color: #000;
  background: linear-gradient(19deg, #21d4fd, #b721ff);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
