.contact-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("../images/map-new-with-pin.png");
  width: 100%;
  height: 100%;
}

.contact-noise {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../images/noise.png");
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  opacity: 0.2;
  z-index: -1;
}

.contact-info {
  position: absolute;
  display: block;
  right: 60px;
  left: 60px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  padding: 0 0 0 8.33%;
  z-index: 1;
  color: #fff;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.28, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.28, 1);
}

.contact-info .contact-phone,
.contact-info .contact-mail {
  position: relative;
  display: block;
  font-size: 63px;
  line-height: 84px;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.28, 1) 0.2s;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.28, 1) 0.2s;
  margin: 0;
  font-weight: 400;
}

.contact-info .contact-address {
  position: relative;
  display: block;
  margin: 30px 0 0;
  font-size: 32px;
  line-height: 48px;
  height: 48px;
  overflow: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.28, 1) 0.4s;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.28, 1) 0.4s;
  margin: 0;
  font-weight: 400;
  
  margin-top: 36px;
}

/* Media Queries */
@media screen and (max-width: 50em) {
  .contact-background {
    background-image: url("../images/map-new-with-pin-mobile.png");
  }

  .contact-info {
    right: 10px;
    left: 10px;
  }

  .contact-info .contact-phone, .contact-info .contact-mail{
    font-size: 36px;
    line-height: 48px;
  }
  .contact-info .contact-address{
    font-size: 20px;
    margin-top: 28px;
  }
}
