.home-animation{
    position: absolute;
    display: flex;
    width:100%;
    height:100%;
    justify-content: flex-end;
    align-items: center;
    top:0;
    left: 0;
}


@media screen and (max-width: 50em) {
    .home-animation{
        display: none;
    }
}