.home-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-right: 100px;
  text-align: left;
  max-width: 50%;
}

.home-image {
    max-width: none;
    white-space: normal;
    text-align: right;
}

.home-image img {
    max-width: 100%;
}
.link-to-about
{ 
  padding: 10px;
  text-align: center
}
.link-to-about:hover
{
  background: linear-gradient(19deg, #21d4fd, #b721ff);
  padding: 10px;
  text-align: center
}
@media screen and (max-width: 50em) {
  .home-container{
    flex-flow: row wrap;
  }
}
