/* Pages stack */

.pages-stack {
  z-index: 100;
  pointer-events: none;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% -50%;
  perspective-origin: 50% -50%;
}

.page {
  position: relative;
  z-index: 5;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  pointer-events: auto;
  background: #fff;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 -5px 15px 0 rgba(0, 0, 0, 0.08);
}

.pages-stack--open .page {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.45s, opacity 0.45s;
  transition: transform 0.45s, opacity 0.45s;
  -webkit-transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
  transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
}

.pages-stack .page {
  -webkit-transition: -webkit-transform 0.45s, opacity 0.45s;
  transition: transform 0.45s, opacity 0.45s;
  -webkit-transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
  transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
}

.page-inactive {
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0;
}
.page-inactive2 {
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0;
}

.page--open {
  z-index: 9;
  opacity: 1;
  transform: translate3d(0px, 75%, -200px);
}

.page--close {
  z-index: 9;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.page-inactive--open {
  transform: translate3d(0px, 75%, -250px);
  z-index: 8;
  opacity: 0.9;
}

.page-inactive--close {
  transform: translate3d(0px, 100%, 0px);
  z-index: 8;
  opacity: 0.9;
}

.page-inactive2--open {
  transform: translate3d(0px, 75%, -300px);
  z-index: 7;
  opacity: 0.8;
}

.page-inactive2--close {
  transform: translate3d(0px, 100%, 0px);
  z-index: 7;
  opacity: 0.8;
}

.page-internal {
  padding: 70px;
}

@media screen and (max-width: 40em) {
  .page-internal {
    padding: 35px;
  }
}
